.header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background-color: #2A77AE;
    color: white;
    padding-bottom: 30px;
}

.title {
    margin-top: 25px;
    line-height: 100%;
    font-size: 4em;
}

p {
    font-size: 1.5em;
    margin: 20px;
}